@page
@using ASP_NET_03._Dependency_Injection___services.Models
@model IndexModel
@{
    ViewData["Title"] = "Products";
    var products = ViewData["Products"] as IEnumerable<Product>;
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
    @if (products!.Any())
    {
        <div>
            <ol>
                @foreach (var product in products!)
                {
                    <li>
                        <a href=@product.Name>@product.Name</a> - <em>@product.Description</em>
                    </li>
                }
            </ol>
        </div>
    }
    else
    {
        <div>No Data</div>
    }
</div>
