@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <p><span class="property">About Me: </span>Abbasli Farid,BSU student Backend Developer,with little knowledge of frontend</p>
</div>
</body>
</html>