@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <p><span class="property">Email: </span>abbaslifarid2006@gmail.com</p>
    <p><span class="property">Phone: </span>+994 050 537 72 65</p>
</div>
</body>
</html>