@{
    ViewData["Title"] = "Visit Card";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visit Card</title>
    <link rel="stylesheet" href="~/css/Index.css"/>
    
</head>
<body>

<div class="container">
    <div class="card">
        <div class="front side">
            <h1 class="logo" style="color: white">Farid Abbasli</h1>
        </div>
    
        <div class="back side">
            <h3 class="name">Farid Abbasli</h3>
            <div class="info">
                <p><span class="property"><a asp-area="" asp-controller="Home" asp-action="About">About Me </a></span></p>
                <p><span class="property"><a asp-area="" asp-controller="Home" asp-action="Languages">Languages</a></span></p>
                <p><span class="property"><a asp-area="" asp-controller="Home" asp-action="Contact">Email</a> </span></p>
                <p><span class="property"><a asp-area="" asp-controller="Home" asp-action="Contact">Phone</a> </span></p>
                <p><span class="property"><a href="https://github.com/farid-ss3945?tab=overview&from=2026-01-01&to=2026-01-31">See my Projects</a></span></p>
            </div>
        </div>
    
    </div>
</div>

</body>
</html>
